In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'], name='MySeries')
print(s)

a    10
b    20
c    30
d    40
e    50
Name: MySeries, dtype: int64

In [3]:
s1 = pd.Series({'apple': 3, 'banana': 5, 'orange': 2}, name='FruitCounts')
print(s1)

apple     3
banana    5
orange    2
Name: FruitCounts, dtype: int64

In [4]:
print(s1.index)
print(s1.values)
print(s1.dtype)
print(s1.shape)
print(s1.size)
print(s1.ndim)


print(s1.loc['banana'])
print(s1.iloc[1])
print(s1.at['banana'])
print(s1.iat[1])

Index(['apple', 'banana', 'orange'], dtype='object')
[3 5 2]
int64
(3,)
3
1
5
5
5
5

In [5]:
print(s.head(3))
print(s.tail(2))
print(s.isin([20, 40]))
print(s.isna())
print(s.describe())

a    10
b    20
c    30
Name: MySeries, dtype: int64
d    40
e    50
Name: MySeries, dtype: int64
a    False
b     True
c    False
d     True
e    False
Name: MySeries, dtype: bool
a    False
b    False
c    False
d    False
e    False
Name: MySeries, dtype: bool
count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
Name: MySeries, dtype: float64

In [6]:
series = pd.Series([100, 200, 300, 400, np.nan, None,600], index=['a', 'b', 'c', 'd', 'e', 'f','g'])
print(series)

a    100.0
b    200.0
c    300.0
d    400.0
e      NaN
f      NaN
g    600.0
dtype: float64

In [7]:
print(series.describe())
print(series.isna())
print(series.isin([200, np.nan]))

count      5.000000
mean     320.000000
std      192.353841
min      100.000000
25%      200.000000
50%      300.000000
75%      400.000000
max      600.000000
dtype: float64
a    False
b    False
c    False
d    False
e     True
f     True
g    False
dtype: bool
a    False
b     True
c    False
d    False
e     True
f     True
g    False
dtype: bool

In [8]:
print(series.value_counts())
print(series.count())

100.0    1
200.0    1
300.0    1
400.0    1
600.0    1
Name: count, dtype: int64
5

In [9]:
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
df = pd.DataFrame({'A': s1, 'B': s2})
print(df)

   A  B
0  1  4
1  2  5
2  3  6